on init
    export ANDROID_ROOT /system_root
    export ANDROID_DATA /data
    export ANDROID_STORAGE /storage
    export EXTERNAL_STORAGE /sdcard
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64

on boot
    chmod 0666 /dev/kmsg
    write /sys/class/leds/lcd-backlight/brightness 1024
    setprop sys.usb.config adb
